{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<p>
<h2>Привет, я Руслан - автор проекта</h2>
</p>
<p>
  Вот ссылка на мой Github: <a href="https://github.com/RBekhter">https://github.com/RBekhter</a><br>
  Я всегда был увлечен компьютерами и технологиями. Еще в старших классах школы был сисадмином
  компьютерного класса и личного ПК учителя информатики 😀<br>
  Мне нравится изучать новые языки и фреймворки.<br>
  Я верю, что программируя, могу внести вклад в развитие общества и улучшить жизнь людей 
</p>
{% endblock %}