{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Профайл пользователя {{ username }}{% endblock title %}
 {% block content %}
    <main>
      <div class="container py-5">
          {% if author.avatar %}
          {% thumbnail author.avatar "150" crop="center" upscale=True as im %}
          <h1><img width="150px" height="150px" style="border-radius: 50%;" src="{{ im.url }}"> {{ username }} </h1>
          {% endthumbnail %}
          {% else %}
          <h1>{{ username }} </h1>
          {% endif %}
        <div class="container py-3">
        {% if request.user.username != username %}
        </div>
        {% if following %}
    <a
      class="btn btn-lg btn-light"
      href="{% url 'posts:unfollow' username %}" role="button"
    >
      Отписаться
    </a>
  {% else %}
      <a
        class="btn btn-lg btn-primary"
        href="{% url 'posts:follow' username %}" role="button"
      >
        Подписаться
      </a>
   {% endif %}

   {% endif %}
                   <h3 style="margin-top: 1%;">Всего постов: {{ sum_of_posts }} </h3>
                  <h3 style="margin-top: 1%;">Количество подписчиков: {{ num_of_followers }} </h3>
        <article>
        {% for post in page_obj %}
        <div class="container py-3">
          <ul>
                      <li>
            Дата публикации: {{ post.pub_date|date:"d E Y H:i:s" }}
          </li>
          {% if post.pub_date|date:"d E Y H:i:s" != post.edited|date:"d E Y H:i:s" %}
          <li>
            Дата изменения: {{ post.edited|date:"d E Y H:i:s" }}
          </li>
          {% endif %}
          {% if post.group %}
          <li>
        <p>Группа: <a href="{% url 'posts:group_list' post.group.slug %}">{{post.group}}</a></p>
          </li>
          {% endif %}
            {% thumbnail post.image "370" crop="center" as im %}
              <img width="{{ im.width }}" height="{{ im.height }}" class="card-img my-2" src="{{ im.url }}">
            {% endthumbnail %}
        </ul>

        <p>{{ post.text }}</p>
            <a href="{% url 'posts:post_detail' post.pk %}"> Перейти на пост </a>
        </article>
        
        {% if post.group %}
         <div class="container py-2">      
        <a href="{% url 'posts:group_list' post.group.slug %}">Все записи группы</a>
        {% endif %}
         </div>
        {% if not forloop.last %}
          <hr>
        {% endif %}
      {% endfor %}
        <!-- Остальные посты. после последнего нет черты -->
        <!-- Здесь подключён паджинатор -->
        {% include 'posts/includes/paginator.html' %}  
      </div>
    </main>
    {% endblock content %}