{% if user.is_authenticated %}
  <div class="row my-3">
    <article>
    <ul class="nav nav-tabs" margin-left="8%">
      <li class="nav-item">
        <a 
          class="nav-link {% if index %}active{% endif %}"
          href="{% url 'posts:index' %}"
        >
          Все авторы
        </a>
      </li>
      <li class="nav-item">
        <a 
           class="nav-link {% if follow %}active{% endif %}"
           href="{% url 'posts:follow_posts' %}"
        >
          Избранные авторы
        </a>
      </li>
    </ul>
      </article>
  </div>
{% endif %}