<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% if text == 'Главная страница' %}
            Вы на главной странице.
        {% elif text == 'Вложенная страница' %}
            Вы рядом с главной страницей.
        {% else %}
            Мы не знаем, где вы.
        {% endif %} </title>
</head>
<body>
    <h1>{{ text }}</h1>
</body>
</html>